---
import { Card, CardGrid } from '@astrojs/starlight/components';
import { Aside } from '@astrojs/starlight/components';
import { Tabs, TabItem } from '@astrojs/starlight/components';
import Stat from './Stat.astro'
import type { Monster } from '../schemas/Monster.schema';
const response = await fetch('https://www.dnd5eapi.co/api/monsters/giant-rat');
const giantRat:Monster = await response.json();
console.log(giantRat.actions);
---

<Tabs>
  <TabItem label="Key Stats">
    <div class="container not-content">
      <Stat title="AC" value={giantRat.armor_class[0].value}/>
      <Stat title="HP" value={giantRat.hit_points}/>
      <Stat title="Speed" value={giantRat.speed.walk}/>
      <Stat title="Dark Vision" value={giantRat.senses.darkvision}/>
      <Stat title="PP" value={giantRat.senses.passive_perception}/>
    </div>
    <Card title="Special Abilities">
      <ul>
      {giantRat.special_abilities ? giantRat.special_abilities.map((item) => (
        <li>
          <p><strong>{item.name}</strong><br/>{item.desc}</p>
        </li>
      )): '' }
      </ul>
    </Card>
    <Card title="Actions">
      <ul>
      {giantRat.actions.map((item) => (
        <li>
          <p><strong>{item.name}</strong><br/>{item.desc}</p>
        </li>
      ))}
      </ul>
    </Card>
  </TabItem>
  <TabItem label="Extras">
    <Card title="Abilities" icon="setting">
      <Aside>
        <ul>
          <li>Strength: {giantRat.strength}</li>
          <li>Dexterity: {giantRat.dexterity}</li>
          <li>Constitution: {giantRat.constitution}</li>
          <li>Intelligence: {giantRat.intelligence}</li>
          <li>Wisdom: {giantRat.wisdom}</li>
          <li>Charisma: {giantRat.charisma}</li>
        </ul>
      </Aside>
    </Card>
  </TabItem>
</Tabs>
</Card>

<style>
  .container {
    display: flex;
  }
</style>